body {  
    background-color: #e6eaeb;
    font-family: "Poppins", sans-serif;  
    display: flex;  
    /* align-items: center;   */
    justify-content: center;  
    max-height: 100vh; 
    height:87vh;
    overflow: hidden;  
    margin: 0;  
    /* flex-direction: row; */
    flex-wrap: wrap;
   }  
 
.tour{
    width: 560px;
    min-width: 100%;
    height: 20px;
    max-height: 100px;
    display: flex; 
    justify-content: center;
}
.fin{
    width: 400px;
    min-width: 100%;
    height: 20px;
    max-height: 100px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}
.fin h3{
    min-width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center
}
.fin button{
    width: 300px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:  #39c2b5;  
    color: #fff;  
    border: none;  
    display: block;
    border-radius: 10px;  
    cursor: pointer;  
    font-size: 1.1rem;  
    font-family: inherit;  
    padding: 1.3rem;  
    
}   
.fin button:hover {  
    background-color: #32d2b8;  
   }  
.fin    button:focus {  
    outline: none;  
    background-color: #31bba5;  
   }  

.grid{
    /* border: 1px solid; */
    height: 384px;
    width: 448px;
    display: flex;
    flex-wrap: wrap;
    background-color: #AB6B51;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    border-radius: 10px;  
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1); 
    overflow: hidden;
}


.grid div{
    
    height: 56px;
    width: 56px;
    background-color: #e6eaeb;
    border-radius: 50%;
    border: 4px solid #AB6B51;
    
}

.player_one{
    background-color: #F04854!important;
    border-radius: 50%;
    border: #1E2640 2px;
}

.player_two{
    background-color: #1E2640!important;
    border-radius: 50%;    
    border: #1E2640 2px;
}